name: Pipeline [PRD]

on:
  push:
    branches:
    - main
    paths-ignore:
    - dependabot.yaml
    - docs/**
    - README.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/reusable-verify.yaml
    secrets: inherit
    with:
      ref: ${{ github.sha }}

  load-semver:
    name: Load Semantic Version
    uses: ./.github/workflows/reusable-load-semver.yaml
    secrets: inherit
    with:
      ref: ${{ github.sha }}

  bump-build-number:
    name: Bump Build Number
    uses: ./.github/workflows/reusable-bump-build-number.yaml
    secrets: inherit
    permissions:
      contents: write
    with:
      ref: ${{ github.sha }}

  build-ios-app:
    name: Build iOS App
    needs: [load-semver, bump-build-number]
    uses: ./.github/workflows/reusable-build-ios-app.yaml
    secrets: inherit
    with:
      ref: ${{ github.sha }}
      semver: ${{ needs.load-semver.outputs.semver }}
      build_number: ${{ needs.bump-build-number.outputs.new_build_number }}
      target_env: prd

  build-android-app:
    name: Build Android App
    needs: [load-semver, bump-build-number]
    uses: ./.github/workflows/reusable-build-android-app.yaml
    secrets: inherit
    with:
      ref: ${{ github.sha }}
      semver: ${{ needs.load-semver.outputs.semver }}
      build_number: ${{ needs.bump-build-number.outputs.new_build_number }}
      target_env: prd

  upload-ios-app:
    needs: [load-semver, bump-build-number, verify, build-ios-app]
    name: Upload iOS App
    uses: ./.github/workflows/reusable-upload-ios-app.yaml
    secrets: inherit
    permissions:
      deployments: write
      id-token: write
      contents: read
    with:
      ref: ${{ github.sha }}
      semver: ${{ needs.load-semver.outputs.semver }}
      build_number: ${{ needs.bump-build-number.outputs.new_build_number }}
      target_env: prd
      apple_app_store_url: ${{ vars.APPLE_APP_STORE_URL }}

  upload-android-app:
    needs: [load-semver, bump-build-number, verify, build-android-app]
    name: Upload Android App
    uses: ./.github/workflows/reusable-upload-android-app.yaml
    secrets: inherit
    permissions:
      deployments: write
      id-token: write
      contents: read
    with:
      ref: ${{ github.sha }}
      semver: ${{ needs.load-semver.outputs.semver }}
      build_number: ${{ needs.bump-build-number.outputs.new_build_number }}
      target_env: prd
      google_play_store_url: ${{ vars.GOOGLE_PLAY_STORE_URL }}
