name: PR Title

on:
  pull_request_target:
    types:
    - opened
    - edited
    - synchronize
    - reopened

jobs:
  verify-pr-title:
    name: Verify PR Title
    uses: ./.github/workflows/reusable-verify-pr-title.yaml
    with:
      jira_key: TIO
