name: PR

on:
  pull_request:

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/reusable-verify.yaml
    secrets: inherit
    permissions:
      contents: write
    with:
      ref: ${{ github.sha }}

  auto-merge:
    name: Auto-merge
    uses: ./.github/workflows/reusable-auto-merge.yaml
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
    with:
      ref: ${{ github.sha }}
