name: Release

on:
  workflow_dispatch:

jobs:
  semantic-release:
    name: Semantic Release
    uses: ./.github/workflows/reusable-semantic-release.yaml
    secrets: inherit
    permissions:
      contents: write
      issues: write
      pull-requests: write
    with:
      ref: ${{ github.sha }}
